@import "tailwindcss";

:root {
  --background: #ffffff; /* White Technical */
}

@theme inline {
  --color-tangerine: #FF934B; /* Primary */
  --color-coffee: #120605;    /* Secondary / Texto */
  --color-purple: #5A3F84;    /* Tertiary */
  --font-sans: sans-serif;
}

body {
  background: var(--background);
  color: var(--color-coffee);
  font-family: var(--font-sans);
}
